<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>I am footer</title>
    <link rel="stylesheet" href="/src/output.css">
</head>

<body>
    <footer>
        <section class="lg:grid lg:grid-cols-3 p-5 flex flex-col gap-10 text-[12px] lg:text-[16px]">


            <!--first part-->
            <div class="w-[25%] lg:ml-[25%] ">
                <img class="w-full cursor-pointer"
                    src="https://www.finpay.com/hs-fs/hubfs/FinPay-Theme/Finpay-logo.png?width=555&height=155&name=Finpay-logo.png"
                    alt="">
            </div>

            <!--second part-->
            <div class="grid grid-cols-3">

                <!--first column-->
                <div>
                    <h1 class="font-bold pb-3 text-lg">Solution</h1>
                    <section class="text-gray-400 space-y-2">
                        <div>Small business</div>
                        <div>Freelancer</div>
                        <div>Customer</div>
                        <div>Taxes</div>
                    </section>
                </div>


                <!--seconf column-->
                <div>
                    <h1 class="font-bold pb-3 text-lg">Company</h1>
                    <section class="text-gray-400 space-y-2">
                        <div>About us</div>
                        <div>Career</div>
                        <div>Contact</div>
                    </section>
                </div>


                <!--third column-->
                <div>
                    <h1 class="font-bold pb-3 text-lg">Learn</h1>
                    <section class="text-gray-400 space-y-2">
                        <div>Blog</div>
                        <div>EBook</div>
                        <div>Guide</div>
                        <div>Templates</div>
                    </section>
                </div>
            </div>



            <!--third part-->
            <div class="lg:ml-[15%]">
                <h1 class="pb-2">Follow us on</h1>
                <div class="flex gap-2">
                    <div class="w-[7%]">
                        <img class="w-full cursor-pointer"
                            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQXeFK2NtY-Ljhq7Fo_sAhlGNjWABnNFVaWIQ&s"
                            alt="Twiiter">
                    </div>
                    <div class="w-[10%]">
                        <img class="w-full cursor-pointer" src="https://www.logo.wine/a/logo/LinkedIn/LinkedIn-Icon-Logo.wine.svg"
                            alt="Linkedin">
                    </div>
                    <div class="w-[6%]">
                        <img class="w-full cursor-pointer"
                            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTuCgurhGwJgHviYZxG4gLF6dtJy4dXTe-7TQ&s"
                            alt="Facebook">
                    </div>
                </div>
            </div>


        </section>


        <!--border is here-->
        <div class="space-y-3 text-center mb-5">
            <div class="m-10 border border-black"></div>
            <p>2026@ All Rights Reserved.</p>
        </div>
    </footer>
</body>

</html>